*{ 
  padding: 0;
  margin: 0;
  font-family: "raleway", sans-serif;
  color: #fff;


}
body,
html{
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
  

img{
  max-width: 100%;
}
button{
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(
    90deg,
   rgba(132, 53, 222, 1) 0% , 
   rgba(184, 84, 232, 1) 100%) ;
   border-radius: 3rem;
   border:none;
}

button:hover{
  background: linear-gradient(
  90deg,
  rgba(184, 84, 232, 1) 0%,
  rgba(132, 53, 222, 1) 100%);
   
}